<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height:100%;">
<link rel="stylesheet" href="/site/css/style.css">
<link rel="stylesheet" href="/site/css/style.min.css">
<link rel="stylesheet" href="/site/css/bootstrap.min.css">
<link rel="stylesheet" href="/site/css/responsive.css">
<link rel="stylesheet" href="/site/css/effects/set2.css">
<link rel="stylesheet" href="/site/css/effects/normalize.css">

<!--begin code mirror -->
<!--下面两个是使用Code Mirror必须引入的-->
<link rel="stylesheet" href="/site/codemirror-5.31.0/lib/codemirror.css"/>
<script src="/site/codemirror-5.31.0/lib/codemirror.js"></script>
<!--引入css文件，用以支持主题-->
<link rel="stylesheet" href="/site/codemirror-5.31.0/theme/dracula.css"/>
<!--支持代码折叠-->
<link rel="stylesheet" href="/site/codemirror-5.31.0/addon/fold/foldgutter.css"/>
<!--end Code Mirror -->

<body style="height:max-content;width:100%;background-size: 100% 100%;width: 100%;height: 100%;overflow-x:hidden;">

<ul class="nav" style="position: absolute;right:0px;width:200px;">
    <li style="list-style:none;">
        <a title="个人界面" href="/login" style="text-decoration: none;
font-size: larger;color: blue;" th:text="'Hello, ' + ${LoginName}" th:if="${LoginName} != null"></a>
        <ul>
            <li style="list-style:none;">
                <a th:if = "${ #strings.isEmpty(failed)}" href="/list" style="text-decoration: none;color:black;">管理界面</a>
                <a th:if = "${not #strings.isEmpty(failed)}" href="/list" style="text-decoration: none;color:black;">做题记录</a>
<!--                <a href="/list" style="text-decoration: none;color:black;">管理界面</a>-->
            </li>
            <li style="list-style:none;">
                <a href="/login" style="text-decoration: none;color:black;">退出登录</a>
            </li>
        </ul>
    </li>
</ul>
<div style="text-align: right;">
    <a th:text="您未登录" th:if="${LoginName} == null"
       style="text-align: right;font-size: larger;color: orangered;text-decoration: none;" href="/login"></a>
</div>
<!-- header -->
<!--    <div th:replace="site/header::header"></div>-->

<!-- main -->
<main role="main-inner-wrapper" class="container">


    <div class="blog-details"
         style="position: absolute;top: 100px;left:0;right:0;display: inline-block;width:auto;height: auto;padding:15px;border:1px solid #999999;border-radius:5px">
        <!--题目列表-->
        <div style="border-bottom:1px solid #c5c5c5;left: 0px;right:0px;display: inline-block;width:100%;height: auto;">
            <div style="float: left;width: 70%;height:80%;">
                <article>
                    <h1>
                        <th:block th:text="${ProblemTitle}"></th:block>
                    </h1>
                    <div>
                        <span>难度</span>
                        <span th:text="简单" th:if="${ProblemDifficulty}=='简单'"  style="color:#1DC116"></span>
                        <span th:text="中等" th:if="${ProblemDifficulty}=='中等'"  style="color:#66ccff"></span>
                        <span th:text="困难" th:if="${ProblemDifficulty}=='困难'"  style="color:#FF0000"></span>
                    </div>
                    <hr>
                    <div id="test-editormd-view">
                        <textarea id="append-test" style="background-color: rgba(255,255,255,0);"
                                  th:text="${ProblemContent}">
                        </textarea>
                    </div>
                    <hr>
                    <div>
                        <b>样例输入</b>
                        <p th:if="${inputExample}!=null" th:text="${inputExample.content}">

                        </p>

                    </div>
                    <div>
                        <b>样例输出</b>
                        <p th:if="${outputExample}!=null" th:text="${outputExample.content}">

                        </p>
                    </div>
                </article>

            </div>
            <div style="float: right;width: 30%;height: 400px">
                <table>

                    <tr hidden="hidden">
                        <td>
                            <div id="data" th:text="${ProblemId}">

                            </div>
                            <span>1s/64MB</span></td>
                    </tr>
                    <!--<tr id="data" th:value="${ProblemTitle}">

                    </tr>-->

                    </tbody>
                </table>
            </div>
        </div>


        <!--编辑器-->

            <div style="margin-top:20px;left:0px;right:0px;">
                <textarea id="code" name="content" style="margin:0 auto;width:400px;"></textarea>
                <div style="margin-top: 30px;display: flex;flex-direction: row;width: 100%;height:80px;border-bottom:1px solid #c5c5c5;align-items:center;background-color:#cccccc;border-radius:5px;border:1px solid #777777">

                    <div id="result" style="margin-left:30px;font-size:19px">
                    </div>

                    <button id="codeCommit" value="提交代码" style="float: right;height: 40px; background-color: #00a1d6;border-radius: 7px;text-align: center;line-height: 40px;font-size: 19px;position:absolute;right:40px;padding-left:15px;padding-right:15px;color:White;">
                        提交代码
                    </button>

                </div>
            </div>

            <!--结果-->



        <!--评论区-->
        <footer style="margin-top:30px; padding-top:20px;border-top:1px solid #999999; left:0px;right:0px;width:100%;transform:translate(0%,0);height:300px;">
            <div th:replace="/site/bilibili::footer"></div>
        </footer>

        <div style="height: 60px"></div>
    </div>

</main>
<div style="height: 50px;"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--editormd-->
<script src="/editormd/lib/marked.min.js"></script>
<script src="/editormd/lib/prettify.min.js"></script>
<script src="/editormd/lib/raphael.min.js"></script>
<script src="/editormd/lib/underscore.min.js"></script>
<script src="/editormd/lib/sequence-diagram.min.js"></script>
<script src="/editormd/lib/flowchart.min.js"></script>
<script src="/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/editormd/editormd.js"></script>

<!--Java代码高亮必须引入-->
<script src="/site/codemirror-5.31.0/clike.js"></script>
<!--groovy代码高亮-->
<script src="/site/codemirror-5.31.0/mode/groovy/groovy.js"></script>
<script src="/site/codemirror-5.31.0/addon/fold/foldcode.js"></script>
<script src="/site/codemirror-5.31.0/addon/fold/foldgutter.js"></script>
<script src="/site/codemirror-5.31.0/addon/fold/brace-fold.js"></script>
<script src="/site/codemirror-5.31.0/addon/fold/comment-fold.js"></script>
<!--括号匹配-->
<script src="/site/codemirror-5.31.0/addon/edit/matchbrackets.js"></script>

<script type="text/javascript" th:inline="javascript">
    var str;
    /*editormd*/
    $(function () {
        editormd.markdownToHTML("test-editormd-view", {
            htmlDecode: "style,script,iframe", // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: true, // 默认不解析
        });
        $(".nav>li").children("ul").hide();
        $(".nav>li").mouseover(function () {
            $(this).children("ul").show();
        });
        $(".nav>li").mouseout(function () {
            $(this).children("ul").hide();
        });
        //提交按钮
        $("#codeCommit").click(function () {
            str = editor.getValue();
            console.log(str);
            var id = $("#data").text();
            console.log($("#data").text());
            $.post("/code_submit",
                {
                    userText: str,
                    problemId: id
                },
                function (data, status) {
                    if (data[0] == '<' && data[1] == '!' && data[2] == 'D') {
                        window.location.href = "/login"
                    } else {
                        if(data[0]=='A'){
                            $("#result").css({color:"#5cb85c"})
                        }else{
                            $("#result").css({color:"#ff0011"})
                        }



                        $("#result").text(data);
                    }
                }
            );

        })
    })

    console.log("2222222");

    //根据DOM元素的id构造出一个编辑器
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: "text/groovy",    //实现groovy代码高亮
        mode: "text/x-java", //实现Java代码高亮
        mode: "text/x-c++src",    //C++
        lineNumbers: true,	//显示行号
        theme: "dracula",	//设置主题
        lineWrapping: true,	//代码折叠
        styleActiveLine: true,       // 当前行背景高亮
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        matchBrackets: true,	//括号匹配
        //readOnly: true,        //只读

    });
    //editor.setSize('800px', '950px');     //设置代码框的长宽

    var content=[[${content}]];
    console.log(content)

    if(content!=null){
        editor.setValue(content);
    }else{
        editor.setValue("");    //先代码框的值清空
    }



    //editor.setValue(obj.scriptCode);    //给代码框赋值
    // str=editor.getValue();
    // console.log(str);
    // editor.setOption("readOnly", true);
</script>

</body>

</html>