<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='总体统计',active='page'"
      style="height:100%;background-color: #FFFFFF;overflow-y: hidden">
<!--<header th:replace="admin/header::headerFragment(${title},${active})"></header>-->
<link rel="stylesheet" href="admin/css/styles.css">
<link rel="stylesheet" href="admin/css/style.min.css">
<link rel="stylesheet" href="admin/css/flexslider.css">
<link rel="stylesheet" href="admin/css/responsive.css">
<link rel="stylesheet" href="admin/css/reset.css">
<link rel="stylesheet" href="admin/css/contact.css">

<!-- 引入 layui.css -->
<link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">

<link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

<body style="height:100%">

<div style="height:100%">
    <div style="height: 100px;text-align: center">
        <h1>总体情况统计</h1>
    </div>
    <div style="height:100%">
        <!--左边-->
        <div style="float:left;width: 50%;height: 100%">
            <div style="height: 50px;text-align:center">
                <h3>贡献排行</h3>
            </div>

            <div style="width: 634px;margin-left: 50px" class="col-md-12">
                <table id="demo" lay-filter="test"></table>
            </div>

        </div>
        <!--右边-->
        <div style="float:left;width: 50%;height: 100%">
            <div style="height: 50px;text-align:center">
                <h3>题目排行</h3>
            </div>

            <div class="col-md-12">
                <table id="rank" lay-filter="testrank"></table>
            </div>

        </div>

    </div>

</div>
<!--&lt;!&ndash; 引入 layui.js &ndash;&gt;-->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js">
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 400
            , url: '/share' //数据接口
            , page: true //开启分页
            , cols:
                [
                    [
                        {field: 'name', title: '发布者', width: 200, sort: true}
                        , {field: 'problemCount', title: '总发布题目数', width: 200,sort:true}
                        ,{field: 'doUsers', title: '累计做题用户', width: 200, sort: true}
                    ]
                ]
            ,initSort: {
                field: 'problemCount' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });

    });
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#rank'
            , height: 400
            , url: '/rank' //数据接口
            , page: true //开启分页
            , cols:
                [
                    [
                        {field: 'title', title: '题目',  sort: true,event:'test',style:"color:#66ccff"}
                        , {field: 'count', title: '参与人数',sort: true}
                        ,{field: 'publisher', title: '发布者'}
                    ]
                ]
            ,initSort: {
                field: 'count' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });
        table.on('tool(testrank)', function (obj) {
            if (obj.event == 'test') {
                console.log(obj.data)
                console.log(obj.data.problemId)

                window.location.href='/problem/id='+obj.data.problemId
            }
        })
    });
</script>

</body>
</html>