<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='注册',active='register'">

<head>
    <meta charset="UTF-8">
    <link href="site/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <style>
        .container1 {
            margin-top: 140px;
            width: 35%;
            margin-left: 30%;
        }
        /* 需要在一行的元素 */
        
        .inline-style {
            display: inline-block;
        }
        /* 文字需要靠右 */
        
        .font-position-right {
            text-align: right;
        }
        /* 注册按钮 */
        
        .register-btn {
            position: relative;
            left: 100px;
            width: 200px;
            bottom: 40px;
        }
        .tip{
            position: relative;
            bottom:35px;
            left:50px;
        }
    </style>
</head>

<body>
<div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(failed)}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> <p th:text="${failed}" />
</div>
    <div class="container1">
        <form class="form-horizontal" method="post" th:action="@{sign_up}">
            <div class="form-group">
                <!--<h2 class="form-signin-heading">注册</h2>-->
                <!-- class="sr-only"将label标签隐藏 -->
                <label for="username" class="col-sm-2 control-label inline-style font-position-right">用户名*</label>
                <div class="col-sm-9 inline-style ">
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名(必填)">
                </div>
            </div>
            <div class="form-group">
                <!--<h2 class="form-signin-heading">注册</h2>-->
                <label for="password" class="col-sm-2 control-label  inline-style font-position-right">密码</label>
                <div class="col-sm-9  inline-style">
                    <input type="password" oninput=test() class="form-control" id="password" name="password" placeholder="密码">
                </div>
            </div>
            <div class="form-group">
                <!--<h2 class="form-signin-heading">注册</h2>-->
                <label for="password" class="col-sm-2 control-label  inline-style font-position-right">再次输入密码</label>
                <div class="col-sm-9  inline-style">
                    <input type="password" oninput=test() class="form-control" id="repassword" name="repassword" placeholder="再次输入密码">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label  inline-style font-position-right">邮箱</label>
                <div class="col-sm-9  inline-style">
                    <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
                </div>
                <div class="form-group">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox tip">
                        <label>
                        <!--<input type="checkbox">
                        记住密码-->
<!--                            用户名为必填内容，邮箱不是-->
                    </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-lg btn-primary btn-block register-btn" disabled="true" id="register" type="submit">注册</button>
                </div>

            </div>
        </form>

    </div>

</body>
<script>
    // $(function() {
    //     $("#register").mouseover(function() {
    //         if ($("#password").val() != null) {
    //             if ($("#password").val() == $("#repassword").val()) {
    //                 $("#register").attr("disabled", "false");
    //             } else {
    //                 $("#register").attr("disabled", "true");
    //             }
    //         }
    //     })
    // })
    // register.setAttribute("disabled", "false");
    function test() {
        if ((password.value != repassword.value) || password.value == "") {
            register.setAttribute("disabled", "true");
        } else {
            register.removeAttribute("disabled");
        }
    }
</script>

</html>